:root{
    --primary-color:#82D4BB;
    --secondary-color:#82AC9F;
    --accent1-color:#829298;
    --accent2-color:#94778B;
    --heading-font: "Lato", sans-serif;
    --body-font: "outfit", sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header,main,footer{
    width: 400px;
    margin: 0 auto;
}
h1,h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav,p,section,article{
    margin: 16px;
    padding: 8px;
}
.socialmedia a{
    text-decoration: none;
}
.hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
    
}
h1{
    position: absolute;
    top: 200px;
    width: 50%;
    padding-top: 5px;
    text-align:center;
    background-color: rgba(212, 167, 177, 0.6);
}
article{
    position: absolute;
    top: 240px;
    padding-top: 15px;
    text-align: center;
    color:black;
    width: 40%;
    background-color: rgba(130, 212, 187, 0.6); 
}
article img{
    float: right;
    width: 100px;
    justify-content: space-around;
}
article p{
    text-align: left;
}
    
    

    
    
     
   

    


